<ion-header translucent="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Mitos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <a href="https://www.minsalud.gov.co/salud/publica/PET/Documents/Infografi%CC%81a%20Adultos%20mayores.pdf">
    <img src="assets/img/medidascontraelcovid.png" class="logo">
  </a>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        ¡El coronavirus no tiene cura y por eso es muy grave! 
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
          <p>
            La gran mayoría de los pacientes que sufren del virus se han recuperado. El coronavirus COVID-19 es una gripa y su porcentaje de letalidad es mucho menor que otros tipos de infecciones respiratorias.
          </p>
      </ion-toolbar>
    </ion-card-content>
    
    </ion-card>

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
          ¡Mata prácticamente a todo el que se enferma! 
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-toolbar>
            <p>
              No es así, el porcentaje de personas fallecidas no supera el 3%, es decir que por cada 100 personas que se enferman pueden ocurrir menos de 3 muertes. 
            </p>
        </ion-toolbar>
      </ion-card-content>
      
      </ion-card>

      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>
            ¡El coronavirus va a llegar porque no se está haciendo correctamente el filtro en las fronteras! 
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-toolbar>
              <p>
La efectividad (medida en estudios internacionales) de controles en los aeropuertos es bajísima, aún con control de temperatura.<br>
Si el coronavirus ingresa por las fronteras o por los viajeros no es porque los controles de las autoridades estén mal, sino porque es un factor biológico que depende de las medidas de prevención que cada persona realice como lo son: el lavado de manos, el uso de tapabocas y el evitar el contacto con personas que tengan alguna infección respiratoria.
              </p>
          </ion-toolbar>
        </ion-card-content>
        
        </ion-card>

        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>
              ¡Van a contaminar para siempre la Villa Olímpica y afectarán niños y familias de ahí en adelante!
            </ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <ion-toolbar>
                <p>
                  Falso, las medidas que ha tomado el Instituto Nacional de Salud de limpieza y desinfección son muy efectivas y basadas en los protocolos internacionales de bioseguridad. Una vez los connacionales salgan de la Villa el lugar recibirá un proceso de desinfección que eliminará cualquier virus existente en ese lugar.
                </p>
            </ion-toolbar>
          </ion-card-content>
          
          </ion-card>

          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>
                ¡Hacer deporte a solo 10 metros de la Villa te puede contagiar de COVID-19!
              </ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <ion-toolbar>
                  <p>
                    Para que una persona se pueda contagiar debe estar a dos metros de una persona que tenga el virus. Recuerde que ninguna de las personas que está en la Villa tiene el virus.
                  </p>
              </ion-toolbar>
            </ion-card-content>
            
            </ion-card>
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>
                  ¡La ropa de las personas que están en el aislamiento la deberían quemar!
                </ion-card-title>
              </ion-card-header>
              
              <ion-card-content>
                <ion-toolbar>
                    <p>
                      Falso, con un adecuado lavado se puede eliminar el virus.
                    </p>
                </ion-toolbar>
              </ion-card-content>
              
              </ion-card>

              <ion-card color="light">
                <ion-card-header>
                  <ion-card-title>
                    ¡Todos debemos usar el tapabocas N95!
                  </ion-card-title>
                </ion-card-header>
                
                <ion-card-content>
                  <ion-toolbar>
                      <p>
                        

Falso. Este tapabocas es de uso del personal de salud. Evite comprarlos, si lo hace pasarán dos cosas:<br>

Creará desabastecimiento y os servicios de salud se verán afectados pues estos solo deben ser usados por el personal de salud.<br>
Se convertirá en un vehículo de gérmenes para una persona sana y que no lo necesita.<br>

Cuando usted tenga síntomas respiratorios use el tapabocas normal y recuerde el lavado de manos.

                      </p>
                  </ion-toolbar>
                </ion-card-content>
                
                </ion-card>



  <a href="https://www.minsalud.gov.co/salud/publica/PET/Paginas/Covid-19_copia.aspx">
    <img src="assets/img/masinformacion.png" class="mas">
   </a> 

</ion-content>
