<ion-header translucent="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Lineas de Emergencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/ED/VSP/coronavirus-telefonos.pdf">
    <img src="assets/img/banerlineas.png">
  </a>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        LINEA DE ATENCIÓN AL RESTO DEL PAÍS
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 960020
        </ion-label>
      </ion-toolbar>
      
    </ion-card-content>
    
    </ion-card> 

  <ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      NUEVA EPS
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-toolbar>
      <ion-label>
        Numero de contacto:<br> 01 8000 954400<br>01 8000 952000 
      </ion-label>
    </ion-toolbar>
  </ion-card-content>

</ion-card>

<ion-card color="light">
<ion-card-header>
  <ion-card-title>
    COMFENALCO
  </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-toolbar>
    <ion-label>
      Numero de contacto:<br> 6577000 Bucaramanga
    </ion-label>
  </ion-toolbar>
  
</ion-card-content>

</ion-card> 

<ion-card color="light">
<ion-card-header>
  <ion-card-title>
    SURA
  </ion-card-title>
</ion-card-header>

<ion-card-content>
  <ion-toolbar>
    <ion-label>
      Numero de contacto:<br> 01 8000 519519 OPC 0
    </ion-label>
  </ion-toolbar>
  
</ion-card-content>

</ion-card> 

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      MEDIMÁS
    </ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-toolbar>
      <ion-label>
        Numero de contacto:<br> 01 8000 120777
      </ion-label>
    </ion-toolbar>
    
  </ion-card-content>
  
  </ion-card> 

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        FAMISANAR
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 916662
        </ion-label>
      </ion-toolbar>
      
    </ion-card-content>
    
    </ion-card> 

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
          POLICIA NACIONAL
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-toolbar>
          <ion-label>
            Numero de contacto:<br> 01 8000 911143
          </ion-label>
        </ion-toolbar>
        
      </ion-card-content>

      </ion-card> 
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>
            FUERZAS MILITARES
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-toolbar>
            <ion-label>
              Numero de contacto:<br> 01 8000 919955 <br> 01 8000 111335
            </ion-label>
          </ion-toolbar>
          
        </ion-card-content>
        
        </ion-card> 

    <a href="https://www.minsalud.gov.co/salud/publica/PET/Documents/coronavirus-telefonos-eps.pdf">
      <img src="assets/img/masinformacion.png" class="logo">
    </a>   
        
</ion-content>
