<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="CuarentenaEsVida">
    <ion-grid>
      <section class="promo">
        <h2>Cuarentena por la vida</h2>
        <h3>Mire los casos y mire donde pedir ayuda</h3>
        <ion-row>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Si la vida de una mujer, niña, niño, adolescente o persona está en peligro</h4>
              <p class="description">Marque al 123 Emergencias o acuda al cuadrante de policía más cercano</p>
            </div>
          </ion-col>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Si un niño, niña o adolescente, sufre de maltrato infantil</h4>
              <p class="description">Marque al 141 línea de protección a niños, niñas y adolescentes. Esta línea es del
                Bienestar Familiar</p>
            </div>
          </ion-col>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Si una mujer es víctima de violencia</h4>
              <p class="description">Marque al 155 línea de orientación a mujeres víctimas de violencia</p>
            </div>
          </ion-col>
        </ion-row>
      </section>
    </ion-grid>
  </div>


  <div class="NivelNacional">
    <ion-grid>
      <section class="promo">
        <h2>
          Líneas de atención a nivel nacional
        </h2>
        <ion-row>
          <ion-col>
            <input type="checkbox" id="spoiler32">
            <label for="spoiler32">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler33">
            <label for="spoiler33">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler34">
            <label for="spoiler34">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler35">
            <label for="spoiler35">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
          </ion-col>
          <ion-col>
            <input type="checkbox" id="spoiler46">
            <label for="spoiler46">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler48">
            <label for="spoiler48">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler49">
            <label for="spoiler49">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler40">
            <label for="spoiler40">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
          </ion-col>
        </ion-row>
      </section>
    </ion-grid>
  </div>




  <div class="SaludMental">
    <ion-grid>
      <section class="promo">
        <h2>
          Líneas de atención en salud mental y
          consumo de sustancias psicoactivas
        </h2>
        <ion-row>
          <ion-col>
            <input type="checkbox" id="spoiler2">
            <label for="spoiler2">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler3">
            <label for="spoiler3">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler4">
            <label for="spoiler4">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler5">
            <label for="spoiler5">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler6">
            <label for="spoiler6">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler8">
            <label for="spoiler8">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler9">
            <label for="spoiler9">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler10">
            <label for="spoiler10">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler11">
            <label for="spoiler11">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
          </ion-col>
          <ion-col>
            <input type="checkbox" id="spoiler12">
            <label for="spoiler12">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler13">
            <label for="spoiler13">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler14">
            <label for="spoiler14">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler15">
            <label for="spoiler15">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler16">
            <label for="spoiler16">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler18">
            <label for="spoiler18">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler19">
            <label for="spoiler19">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler20">
            <label for="spoiler20">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
            <input type="checkbox" id="spoiler21">
            <label for="spoiler21">SPOILER</label>
            <div class="spoiler">CONTENIDO OCULTO</div>
          </ion-col>
        </ion-row>
      </section>
    </ion-grid>
  </div>




  <!-- <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        LINEA DE ATENCIÓN AL RESTO DEL PAÍS
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 960020
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        NUEVA EPS
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 954400<br>01 8000 952000
        </ion-label>
      </ion-toolbar>
    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        COMFENALCO
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 6577000 Bucaramanga
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        SURA
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 519519 OPC 0
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        MEDIMÁS
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 120777
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        FAMISANAR
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 916662
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        POLICIA NACIONAL
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 911143
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        FUERZAS MILITARES
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Numero de contacto:<br> 01 8000 919955 <br> 01 8000 111335
        </ion-label>
      </ion-toolbar>

    </ion-card-content>

  </ion-card>

  <a href="https://www.minsalud.gov.co/salud/publica/PET/Documents/coronavirus-telefonos-eps.pdf">
    <img src="assets/img/masinformacion.png" class="logo">
  </a> -->

</ion-content>