ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: transparent;
  }

  ion-title {
    text-align: center;
  }

  ion-card-content{
    text-align: justify;
  }
 .logo{
     position: relative;
     left: 15%;
 }

 /*=================================================  ======================================================*/

 /* Ocultar botón radio */
input[id^="spoiler"]{
  display: none;
  }
  /* Estilo botón clicable */
  input[id^="spoiler"] + label {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  cursor: pointer;
  }
  /* Estilo botón cuando su INPUT está seleccionado */
  input[id^="spoiler"]:checked + label {
  color: #333;
  background: #ccc;
  }
  /* Estilo caja SPOILER (inicialmente oculto) */
  input[id^="spoiler"] ~ .spoiler {
  width: 90%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0;
  }
  /* Estilo caja SPOILER cuando su INPUT está seleccionado */
  input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  }

//  /* Ocultar botón radio */
//   #spoiler1{
//   display: none;
//   }
//   /* Estilo botón clicable */
//   #spoiler1 + label {
//   display: block;
//   width: 200px;
//   margin: 0 auto;
//   padding: 5px 20px;
//   background: #e1a;
//   cursor: pointer;
//   }
//   /* Estilo botón cuando su INPUT está seleccionado */
//   #spoiler1:checked + label {
//   color: #333;
//   background: #ccc;
//   }
//   /* Estilo caja SPOILER (inicialmente oculto) */
//   #spoiler1 ~ .spoiler {
//   width: 90%;
//   height: 0;
//   overflow: hidden;
//   opacity: 0;
//   margin: 10px auto 0;
//   }
//   /* Estilo caja SPOILER cuando su INPUT está seleccionado */
//   #spoiler1:checked + label + .spoiler{
//   height: auto;
//   opacity: 1;
//   }


/*=================================================================================================================*/

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#97BF41;
$COLOR-title:#0e1b4d;


/*--------------------------------------------------------------
# Promo Section
--------------------------------------------------------------*/
.promo ion-row ion-col{
  height: 100%;
}
.promo h2 {
  font-size: 30px;
  color: $COLOR-title;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.promo ion-icon {
  font-size: 40px;
  color: $COLOR-SECUNDARY;
}

.promo .icon-box {
  padding: 30px;
  height: 100%;
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

a {
  text-decoration: none;
}

.promo .icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.promo .icon-box:hover::before {
  background: #a9b7ef;
  top: 0;
  border-radius: 0px;
}

.promo .icon {
  margin-bottom: 15px;
  text-align: center;
}

.promo .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: $COLOR-title;
}

.promo .title a {
  //color: #7eac39;
  color: $COLOR-title;
  text-decoration: none;
  text-align: center;
}

.promo .description {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
  color: grey;
}

.promo .icon-box:hover .title a,
.promo .icon-box:hover .description,
.promo .icon-box:hover .icon ion-icon {
  color: $COLOR-title;
}