<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-content>
      <ion-toolbar>
          <img src="assets/img/consejos.png">
      </ion-toolbar>
    </ion-card-content>
    
    </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Sintomas
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
          <img src="assets/img/sintomas.png" class="sintomas">
      </ion-toolbar>
    </ion-card-content>
    
    </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Como lavarse las manos correctamente
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
        <img src="assets/img/aguamanos.png" class="logo">
        <p>
          Paso 1: Mojar las manos con agua corriente segura
        </p>
      </ion-toolbar>
      <ion-toolbar>
        <img src="assets/img/jabonmanos.png" class="logo">
        <p>
          Paso 2: Aplicar suficiente jabón para cubrir las manos húmedas. 
        </p>
      </ion-toolbar>
      <ion-toolbar>
        <img src="assets/img/frotamanos.png" class="logo">
        <p>
          Paso 3: Frotar todas las superficies de las manos–incluyendo el dorso de las manos, entre los dedos y bajo las uñas–durante al menos 20 segundos.
        </p>
      </ion-toolbar>
      <ion-toolbar>
        <img src="assets/img/aguamanos.png" class="logo">
        <p>
          Paso 4: Aclarar las manos a fondo con agua corriente
         </p>
      </ion-toolbar>
      <ion-toolbar>
        <img src="assets/img/secarmanos.png">
        <p>
          Paso 5: Secarse las manos con un paño limpio y seco, una toalla de un solo uso o un secador de manos, según sea el caso
        </p>
      </ion-toolbar>
      
    </ion-card-content>
    
    </ion-card>
    
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Reportes
      </ion-card-title>
    </ion-card-header>
    <ion-toolbar>
      <img src="https://www.minsalud.gov.co/salud/publica/PET/PublishingImages/covid-19%20Colombia/300320_post_coronavirus_baja%20(3).jpg">
    </ion-toolbar>
  </ion-card>

  
</ion-content>
