<ion-header translucent="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Información basica</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <a href="https://d2jsqrio60m94k.cloudfront.net/">
    <img src="assets/img/informacionbasica.png">
   </a>  

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        ¿Qué es el COVID-19?
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-toolbar>
        <ion-label>
          Es un nuevo virus asociado a la misma familia de virus del síndrome respiratorio agudo severo (SRAS) y a algunos tipos de resfriado común.
        </ion-label>
      </ion-toolbar>
      
    </ion-card-content>
    
    </ion-card> 

    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>
          ¿Cuáles son los síntomas del COVID-19?
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-toolbar>
          <ion-label>
            La fiebre, la tos y la insuficiencia respiratoria son algunos de sus síntomas. En casos más graves, la infección puede causar neumonía o dificultades respiratorias. En raras ocasiones, la enfermedad puede ser mortal. Estos síntomas son similares a los de la gripe o el resfriado común, que son mucho más frecuentes que el COVID-19. </ion-label>
        </ion-toolbar>
        
      </ion-card-content>
      
      </ion-card>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>
            ¿Cómo se contagia el COVID-19?  
          </ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-toolbar>
            <ion-label>
              El virus se transmite por el contacto directo conlas gotas de la respiración que una persona infectada puede expulsar al toser o estornudar. Además, una persona puede contraer el virus al tocar superficies contaminadasy luego tocarse la cara (por ejemplo, los ojos, la nariz o la boca) </ion-label>
          </ion-toolbar>
          
        </ion-card-content>
        
        </ion-card>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>
              ¿Quién corre más riesgo? 
            </ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <ion-toolbar>
              <ion-label>
                Las personas de edad más avanzada, así como las que padecen enfermedades crónicas como diabetes o enfermedades del corazón, parecen correr un mayorpeligro de desarrollar síntomasgraves.  </ion-label>
            </ion-toolbar>
            
          </ion-card-content>
          
          </ion-card>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>
                ¿Cuál es el tratamiento para el COVID-19?
              </ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <ion-toolbar>
                <ion-label>
                  Por el momento no existe una vacuna para el COVID-19. Sin embargo, se pueden tratar muchos de sus síntomas. </ion-label>
              </ion-toolbar>
              
            </ion-card-content>
            
            </ion-card>

            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>
                  ¿Cómo puede frenarse o prevenirse la transmisión del COVID-19?
                </ion-card-title>
              </ion-card-header>
              
              <ion-card-content>
                <ion-toolbar>
                  <ion-label>
                    Se entiende por medidas de salud pública acciones cotidianas preventivascomo las siguientes:<br>✓ Permanecer en casa mientras se está enfermo,<br> ✓ Taparsela boca y la nariz con el codo doblado o con un pañuelo de papel al toser o estornudar. Hay que deshacersede los pañuelos de papel usados inmediatamente, <br>✓ Lavarse las manos con agua y jabón frecuentemente,<br>✓ Limpiar frecuentemente superficies y objetos que se hayan tocado </ion-label>
                </ion-toolbar>
                
              </ion-card-content>
              
              </ion-card>

    <a href="https://id.presidencia.gov.co/especiales/200317-medidas-enfrentar-coronavirus/index.html">
     <img src="assets/img/masinformacion.png" class="mas">
    </a>  

</ion-content>
