<ion-header translucent="true">
  <ion-toolbar>  
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/manejo-cotidiano-animales-compania-c.pdf">
    <ion-img src="assets/img/mascotasinfo.png" class="logo"></ion-img>
  </a>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        ¿Si creo que puedo tener coronavirus, qué debo hacer? 
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <p>
          Usar tapabocas. <br> 
          Aumentar el lavado de manos.<br> 
          Acercarse a un hospital si tiene dificultad para respirar.</p>
      </ion-toolbar>
      
    </ion-card-content>

  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        ¿Qué me pasa si tengo coronavirus? 
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-toolbar>
        <p>
          El nuevo Coronavirus causa una Infección Respiratoria Aguda, es decir una gripa, que 
          puede ser leve, moderada o severa. <br>
          Puede producir fiebre, tos, secreciones nasales (mocos) y malestar general. Algunas 
          personas pueden presentar dificultad para respirar.</p>
      </ion-toolbar>
      
    </ion-card-content>

  </ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      ¿Qué hago para evitar que me de coronavirus?
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>
      Siga estas indicaciones:
    </ion-card-title>

    <ion-toolbar>
      <ion-title>
        Primera:
      </ion-title>
      <p>
        Lavarse las manos es la estrategia que más sirve y disminuye en 50% la posibilidad de 
infectarse. Si no tiene un lavamanos cerca puede utilizar alcohol glicerinado (gel 
antibacterial), mientras tiene acceso a lavado de manos. </p>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>
        Segunda:
      </ion-title>
      <p>
        Evitar estar cerca de personas que tienen síntomas de gripa. Esto quiere decir 
        mantener más de dos (2) metros de distancia de personas enfermas, ya que las 
        partículas de saliva, mocos o lágrimas donde viaja el virus, no viajan más allá de dos (2) 
        metros. </p>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>
        Tercera:
      </ion-title>
      <p> Evitar tocarse la boca, nariz y ojos.
Desinfectar de manera frecuente objetos o superficies que se tocan constantemente 
con desinfectantes de superficies o alcohol. </p>
    </ion-toolbar>

    <ion-toolbar>
      <ion-title>
        Cuarta:
      </ion-title>
      <p> Mantener la vivienda o lugar de trabajo ventilado, iluminado, limpio y libre de humo.
        Los estudios NO recomiendan la utilización de tapabocas en personas que no tienen 
        síntomas de gripa. Esta medida sólo se recomienda para personas con síntomas de 
        gripa y para trabajadores de la salud. </p>
    </ion-toolbar>


  </ion-card-content>
</ion-card>


<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      ¿Cuánto tiempo duro enfermo?
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-toolbar>
      <p>
        Según qué tan fuerte le de la enfermedad, puede durar entre 2 y 6 semanas.
      </p>
    </ion-toolbar>
    
  </ion-card-content>

</ion-card>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>
      ¿Cómo se transmite el Coronavirus? 
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-toolbar>
      <p>
        Se transmite cuando una persona enferma tose o estornuda y expulsa partículas del virus 
        que entran en contacto con las personas con las que se tiene un contacto estrecho en su 
        entorno.<br>
        Este mecanismo es similar entre todas las Infecciones Respiratorias Agudas (IRA).
      </p>
    </ion-toolbar>
    
  </ion-card-content>

</ion-card>


  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        ¿Me puedo poner otras vacunas aún si tengo riesgo de contraer el Covid-19?
      </ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <ion-toolbar>
        <p>
          Sí.
          De hecho, es recomendable que toda la población mantenga los esquemas de 
          vacunación completos y que los grupos de riesgo se vacunen contra la influenza.
        </p>
      </ion-toolbar>
      
    </ion-card-content>

  </ion-card>

  <a href="http://www.saludcapital.gov.co/Documents/Campanas_S/Covid-19_Preguntas_frecuentes.pdf">
    <img src="assets/img/masinformacion.png" class="mas">
  </a>   
  
</ion-content>
